# Get a FREE key from https://aistudio.google.com/apikey
GOOGLE_API_KEY=AQ.Ab8RN6IMtbEbgQ2_Nl6Nryffjkfh7YjXBJjlVdX5YU5xKJvsSQ

# Optional alternative — get FREE key from https://console.groq.com/keys
GROQ_API_KEY=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

# Which provider to use: "gemini" or "groq"
LLM_PROVIDER=groq
